<!DOCTYPE html>
<html>
  <head>
    <title>RollerCoaster</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk=" crossorigin="anonymous" />
   </head>

<body>
  <header>
    <div class="header-logo">
      <%= link_to("ジェットコースターマニア", "/") %>
    </div>
    <ul class="header-menus">
      <li>
        <%= link_to("ジェットコースターマニアとは", "/about") %>
      </li>
      <li>
        <%= link_to("ジェットコースター一覧", "/list") %>
      </li>
      <li>
        <%= link_to("ジェットコースターランキング", "/ranking") %>
      </li>
    </ul>
  </header>

  <% if flash[:notice] %>
      <div class="flash">
        <%= flash[:notice] %>
      </div>
    <% end %>

  <%= yield %>
</body>
</html>
